@import "tailwindcss";
@plugin '../../hero.ts';
@source '../../../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
/* @custom-variant dark (&:is(.dark *)) */

.light {
	--background: #F5F4F3;
	--background-card-one: #C3C3C3;
	--background-card-two: #EFEFEF;
	--background-active-gradient: #EFEFEF;
	--primary: #21808D;
	--primary-hover: #1D7480;
	--primary-active: #1A6873;
	--primary-active-gradient: #91C8CA;
	--border: #BACDD7;
	--text: #6B7280;
	--highlight: #13343B;
	--muted: #626C71;
	--foreground: #171717;
	--success: #3dc97c;
	--warning: #d2c235;
	--error: #c42727;
	--theme-grad-one: #B7B7B7;
	--theme-grad-two: #D4D4D4;
	--thumb-grad-one: #C8E4E3;
	--thumb-grad-two: #ECECEC;
	--loading-grad-one: #21808d88;
	--loading-grad-two: #21808D99;
}

.dark {
	--background: #2A2A2A;
	--background-card-one: #1F1F1F;
	--background-card-two: #4B4B4B7A;
	--background-active-gradient: #808080;
	--primary: #48B0BE;
	--primary-hover: #38a0ad;
	--primary-active: #3797a3;
	--primary-active-gradient: #23636C;
	--border: #535353;
	--text: #C1C7CB;
	--highlight: #BB86FC;
	--muted: #626C71;
	--foreground: #FFFFFF;
	--success: #4CAF50;
	--warning: #FFEB3B;
	--error: #F44336;
	--theme-grad-one: #3A3939;
	--theme-grad-two: #252525;
	--thumb-grad-one: #363636;
	--thumb-grad-two: #506A77;
	--loading-grad-one: #48B0BE99;
	--loading-grad-two: #48B0BEDD;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-primary: var(--primary);
	--color-primary-hover: var(--primary-hover);
	--color-primary-active: var(--primary-active);
	--color-text: var(--text);
	--color-border: var(--border);
	--color-highlight: var(--highlight);
	--color-muted: var(--muted);
	--color-background-card-one: var(--background-card-one);
	--color-background-card-two: var(--background-card-two);
	--color-success: var(--success);
	--color-warning: var(--warning);
	--color-error: var(--error);
	--font-sans: var(--font-geist-sans);
	--font-lato: var(--font-lato);
	--font-inter: var(--font-inter);
}

@layer utilities {
	.bg-login {
		background-image: url('/images/bgs/login.svg');
		background-size: cover;
		background-position: center;
		z-index: -100;
	}

	.bg-register {
		background-image: url('/images/bgs/register.svg');
		background-size: cover;
		background-position: center;
		z-index: -100;
	}

	.bg-card {
		background: linear-gradient(-45deg,
				var(--background-card-one) 0%,
				var(--background-card-two) 100%);
		border: 1px solid var(--border);
	}

	.bg-record-btn {
		background: radial-gradient(circle at 50% 50%,
				var(--background-card-one) 0%,
				var(--background-card-two) 75%);
		border: 1px solid var(--border);
	}

	.bg-success {
		background: linear-gradient(180deg,
				#A8E6CF11 0%,
				#DCEDC122 100%);
		border: 1px solid var(--success);
	}

	.bg-warning {
		background: linear-gradient(180deg,
				#FFF9C411 0%,
				#FFECB322 100%);
		border: 1px solid var(--warning);
	}

	.bg-error {
		background: linear-gradient(180deg,
				#ffb2b211 0%,
				#ff7a5222 100%);
		border: 1px solid var(--error);
	}

	.bg-theme-btn {
		background: linear-gradient(45deg,
				var(--theme-grad-one) 0%,
				var(--theme-grad-two) 100%);
		border: 1px solid var(--border);
	}

	.bg-thumb {
		background: linear-gradient(45deg,
				var(--thumb-grad-one) 0%,
				var(--thumb-grad-two) 100%);
		border: 1px solid var(--border);
	}

	.active-sidebar-btn {
		background: linear-gradient(180deg,
				var(--background-active-gradient) 0%,
				var(--primary-active-gradient) 100%);
		color: var(--primary);
		border: 1px solid var(--border);
	}

	.bg-bar {
		background: linear-gradient(180deg,
				var(--loading-grad-one) 0%,
				var(--loading-grad-two) 100%);
	}

	.bg-bar-disabled {
		background: linear-gradient(180deg,
				#B0BABE 0%,
				#838282 100%);

	}

	@keyframes wave {
		0% {
			transform: scaleY(1);
		}

		20% {
			transform: scaleY(0.7);
		}

		40% {
			transform: scaleY(0.6);
		}

		60% {
			transform: scaleY(0.8);
		}

		80% {
			transform: scaleY(0.4);
		}

		100% {
			transform: scaleY(1);
		}
	}

	@keyframes wave-alt {
		0% {
			transform: scaleY(1);
		}

		25% {
			transform: scaleY(0.6);
		}

		50% {
			transform: scaleY(0.3);
		}

		75% {
			transform: scaleY(0.7);
		}

		100% {
			transform: scaleY(1);
		}
	}

	.animate-wave {
		animation: wave infinite ease-in-out;
		transform-origin: center;
	}

	.animate-wave-alt {
		animation: wave-alt infinite ease-in-out;
		transform-origin: center;
	}
}